
table.dataTable tbody td {
    vertical-align: middle !important;
  }
  html.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown), body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
      overflow-y: unset !important;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
      border: 1px solid #74d348;
      border-bottom-color: transparent;
  }
  .modal-open {
      overflow: unset;
  }
  input[type=search]:focus {
      background-color: #434a54;
      color: white;
  }
  table.dataTable span.highlight {
      background-color: #f0ad4e;
      color: white;
  }
  .select2-dropdown {
      z-index: 9999;
  }
  @media (max-width: 1920px) {
      .radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
          margin-left: 0px;
      }
  }
  div.dataTables_wrapper div.dataTables_filter{
      text-align: left;
  }
  div.dataTables_wrapper div.dataTables_length{
      float: right;
  }
  div.dt-buttons{
      float: right;
  }
  /* .btn-recall,
  .btn-hold,
  .btn-end,
  .btn-calling,
  .btn-primary {
      border-radius: 25px;
  } */
  .checkbox label:after,
  .radio label:after {
      content: '';
      display: table;
      clear: both;
  }
  
  .checkbox .cr,
  .radio .cr {
      position: relative;
      display: inline-block;
      border: 1px solid #a9a9a9;
      border-radius: .25em;
      width: 1.3em;
      height: 1.3em;
      float: left;
      margin-right: .5em;
  }
  
  .radio .cr {
      border-radius: 50%;
  }
  
  .checkbox .cr .cr-icon,
  .radio .cr .cr-icon {
      position: absolute;
      font-size: .8em;
      line-height: 0;
      top: 50%;
      left: 20%;
  }
  
  .radio .cr .cr-icon {
      margin-left: 0.04em;
  }
  
  .checkbox label input[type="checkbox"],
  .radio label input[type="radio"] {
      display: none;
  }
  
  .checkbox label input[type="checkbox"] + .cr > .cr-icon,
  .radio label input[type="radio"] + .cr > .cr-icon {
      transform: scale(3) rotateZ(-20deg);
      opacity: 0;
      transition: all .3s ease-in;
  }
  
  .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
  .radio label input[type="radio"]:checked + .cr > .cr-icon {
      transform: scale(1) rotateZ(0deg);
      opacity: 1;
  }
  
  .checkbox label input[type="checkbox"]:disabled + .cr,
  .radio label input[type="radio"]:disabled + .cr {
      opacity: .5;
  }
  
  footer.footer {
      display: none;
  }
  #tab-menu > li.active a,
  #tab-menu > li.active a:hover {
      background-color: #1a7bb9 !important;
      color: #FFFFFF !important;
  }
  #back-to-top {
      display: none !important;
  }